html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }

input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body { font-family: Arial, sans-serif; font-size: 16px; line-height: 1.25; min-width: 320px; min-height: 320px; }

.clearfix { *zoom: 1; }

.clearfix:before, .clearfix:after { display: table; content: ""; line-height: 0; }

.clearfix:after { clear: both; }

a, a:before, .button, button, button:before, input[type="button"], input[type="submit"] { transition: border-color .1s ease-in, color .1s ease-in, background-color .1s ease-in; }

.hide { display: none !important; }

@keyframes wave { 0% {
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg); } }

.background { height: 100%; overflow: hidden; position: relative; perspective: 100vw; }

.background_image { position: absolute; width: 130%; height: 127%; margin-left: -15%; margin-top: -8%; left: 0; top: 0; bottom: 0; background: #fff url(../img/background-image.jpg) no-repeat; transition: transform .2s ease; background-size: cover; will-change: transform; }

.background_image img { opacity: .7; position: absolute; max-width: 90%; }

.background_image-smoke-cloud1 { animation: wave 7s 0.1s infinite linear; display: block; right: 40%; bottom: 0; }

.background_image-smoke-cloud2 { left: -14%; bottom: -6%; animation: wave 8s 0.1s infinite linear; }

.background_image-smoke-cloud3 { right: -4%; bottom: -17%; animation: wave 9s 0.1s infinite linear; }

.background_dot { position: absolute; opacity: .7; z-index: 2; width: 50px; height: 50px; border-radius: 50%; margin-left: -25px; margin-top: -25px; box-shadow: inset 0 0 15px #333; transition: transform .2s ease; will-change: transform; }

.background_dot:nth-child(1) { top: 94%; left: 24%; background-color: #8c99e2; }

.background_dot:nth-child(2) { top: 70%; left: 47%; background-color: #3c5de2; }

.background_dot:nth-child(3) { top: 53%; left: 26%; background-color: #84a013; }

.background_dot:nth-child(4) { top: 65%; left: 79%; background-color: #25c057; }

.background_dot:nth-child(5) { top: 72%; left: 49%; background-color: #bcc250; }

.background_dot:nth-child(6) { top: 25%; left: 10%; background-color: #9c4ece; }

.background_dot:nth-child(7) { top: 61%; left: 17%; background-color: #2ed5cf; }

.background_dot:nth-child(8) { top: 67%; left: 29%; background-color: #a4d5eb; }

.background_dot:nth-child(9) { top: 61%; left: 81%; background-color: #398cf5; }

.background_dot:nth-child(10) { top: 40%; left: 76%; background-color: #09b22f; }

.background_dot:nth-child(11) { top: 47%; left: 35%; background-color: #e5fa53; }

.background_dot:nth-child(12) { top: 63%; left: 72%; background-color: #080e59; }

.background_dot:nth-child(13) { top: 74%; left: 95%; background-color: #4ddad2; }

.background_dot:nth-child(14) { top: 92%; left: 18%; background-color: #9fac90; }

.background_dot:nth-child(15) { top: 90%; left: 30%; background-color: #d24b9f; }

.background_dot:nth-child(16) { top: 93%; left: 17%; background-color: #9bbb08; }

.background_dot:nth-child(17) { top: 36%; left: 28%; background-color: #95d571; }

.background_dot:nth-child(18) { top: 83%; left: 67%; background-color: #06ecf6; }

.background_dot:nth-child(19) { top: 95%; left: 27%; background-color: #1b620e; }

.background_dot:nth-child(20) { top: 60%; left: 63%; background-color: #b6094c; }

.background_dot:nth-child(21) { top: 41%; left: 25%; background-color: #81543e; }

.background_dot:nth-child(22) { top: 16%; left: 51%; background-color: #4995df; }

.background_dot:nth-child(23) { top: 49%; left: 12%; background-color: #c59bbb; }

.background_dot:nth-child(24) { top: 55%; left: 67%; background-color: #75b9e2; }

.background_dot:nth-child(25) { top: 34%; left: 91%; background-color: #ddb8b2; }

.background_dot:nth-child(26) { top: 90%; left: 77%; background-color: #010d71; }

.background_dot:nth-child(27) { top: 12%; left: 26%; background-color: #454fc4; }

.background_dot:nth-child(28) { top: 18%; left: 19%; background-color: #3e2547; }

.background_dot:nth-child(29) { top: 51%; left: 44%; background-color: #443f5b; }

.background_dot:nth-child(30) { top: 25%; left: 78%; background-color: #096b66; }

.background_dot:nth-child(31) { top: 88%; left: 90%; background-color: #d8750f; }

.background_dot:nth-child(32) { top: 82%; left: 16%; background-color: #0b527c; }

.background_dot:nth-child(33) { top: 62%; left: 91%; background-color: #177061; }

.background_dot:nth-child(34) { top: 15%; left: 79%; background-color: #60da52; }

.background_dot:nth-child(35) { top: 18%; left: 17%; background-color: #7364e7; }

.background_dot:nth-child(36) { top: 21%; left: 49%; background-color: #4f7a04; }

.background_dot:nth-child(37) { top: 50%; left: 35%; background-color: #644a73; }

.background_dot:nth-child(38) { top: 33%; left: 31%; background-color: #933905; }

.background_dot:nth-child(39) { top: 15%; left: 45%; background-color: #e08898; }

.background_dot:nth-child(40) { top: 52%; left: 15%; background-color: #732f39; }

.background_dot:nth-child(41) { top: 30%; left: 26%; background-color: #331672; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

 * { -webkit-text-size-adjust: none; } }
